.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardList {
  width: 15%;
}

.card {
  margin: 30px;

  transition: 0.3s;
}

.cardList:hover {
  width: 16%;
  box-shadow: 0 8px 20px black, 0 8px 20px black;
}

.card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.font {
  font-family: "Creepster", cursive;
}

h5 {
  font-family: "Creepster", cursive;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 25px;
  padding-top: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.footer a,
.footer a:active,
.footer a:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 0;
}

.posiiton {
  display: block;
  margin: auto;
}

.btn-primary {
  width: 350px;
  height: 350px;
  justify-content: space-between;
  margin: 100px;
  background-image: transparent;
}

#glitches {
  position: relative;
}

#main {
  color: white;
  animation: fade 3s infinite;
  font-size: 1.8rem;
}

#main2 {
  color: white;
  animation: fade 3s infinite;
  font-size: 1.8rem;
  margin-left: 20px;
}

.nbrecandy {
  color: white;
  animation: fade 3s infinite;
  font-size: 1.8rem;
}

#letters {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  color: white;
  filter: blur(1.5px);
  margin-left: 115px;
  font-size: 1.8rem;
}

.letter {
  animation: up 3s infinite linear;
}

@keyframes up {
  0% {
    transform: translate(0, 0) skew(0);
  }
  20% {
    transform: translate(0, -40%) skew(-12deg);
  }
  40% {
    transform: translate(0, -80%) skew(12deg);
  }
  60% {
    transform: translate(0, -120%) skew(-7deg);
  }
  80% {
    transform: translate(0, -160%) skew(4deg);
  }
  100% {
    transform: translate(0, -200%) skew(0);
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

header h1 {
  font-size: 10rem;
  padding-top: 110px;
  color: #fff;
  text-shadow: 2px 2px 10px #0000007a;
  background: -webkit-linear-gradient(#81c55a, #93ff54, #54ca04);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header h1 span {
  font-size: 8rem;
}

.playerName {
  color: #fff;
  font-size: 3rem;
  padding-top: 0;
  margin-top: 5px;
  text-align: left;
}

body {
  background: url("img/bg.jpg");
  background-size: cover;
}

.chasseinit.btn-secondary {
  font-size: 2rem;
  padding: 5px 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border: 1px solid #fff;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
}

.chasseinit.btn-secondary:hover {
  box-shadow: 0px 0px 50px #a2ff21;
  color: #8bbf42;
  border: 1px solid #a2ff21;
}

.chasseinit.bag {
  font-size: 1rem;
}

.homenave .btn,
.homenav .btn-primary {
  border: 1px solid #fff;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
}

.homenav .btn-primary:hover,
.homenav .btn-primary:active {
  box-shadow: 0px 0px 100px #a2ff21;
  color: #8bbf42;
  border: 1px solid #a2ff21 !important;
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.homenav .btn-primary:hover .letter,
.homenav .btn-primary:active .letter {
  color: #8bbf42;
}

.oneAdress.card {
  color: #fff;
  background: url("img/toile.png");
  background-size: cover;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.oneAdress.card .btn,
.modal-footer .btn {
  background-color: #8bbf42;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.oneAdress.card h5.already {
  color: #8bbf42;
}

h2 {
  color: #fff;
  text-shadow: 2px 2px 10px #0000007a;
  background: -webkit-linear-gradient(#81c55a, #93ff54, #54ca04);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal-content .card-img-top {
  max-height: 170px;
}

.modal-content {
  background-color: #161e51 !important;
  border: 1px solid #a2ff21 !important;
  background: url("img/toile.png");
  background-size: cover;
}

.modal-content .card {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.7);
}

.modal-content .card .btn-secondary {
  font-size: 0.7rem;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border: 1px solid #a2ff21;
  font-weight: bold;
  background-color: #8bbf42;
}

.modal-content .card .btn-secondary:hover {
  box-shadow: 0px 0px 50px #a2ff21;
  color: #8bbf42;
  background-color: #fff;
  border: 1px solid #a2ff21;
}

.modal-header,
.modal-header span {
  color: #fff;
}

.form-group input {
  width: 300px;
  padding: 5px;
  font-size: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #a2ff21;
}

.form-group input:hover {
  box-shadow: 0px 0px 50px #a2ff21;
  color: #8bbf42;
  background-color: rgba(255, 255, 255, 0.8);
}

.form-group input:focus {
  background-color: rgba(255, 255, 255, 1);
}

::placeholder {
  color: #282c34;
}

.form-group input:focus::placeholder {
  color: #c1c5ce;
}
